

<h1>Incidents</h1>
<%= link_to 'New Incident', new_incident_path, :class => "btn btn-success" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Officer</th>
      <th>Reason</th>
      <th>Whenfound</th>
      <th>Wherefound</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.code %></td>
        <td><%= incident.officer %></td>
        <td><%= incident.reason %></td>
        <td><%= incident.whenfound %></td>
        <td><%= incident.wherefound %></td>
        <td><%= link_to 'Show', incident, :class => "btn btn-success" %>
        <%= link_to 'Edit', edit_incident_path(incident),:class => "btn btn-info" %>
        <%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


